.interests-section {
    margin-top: 3em;
}

.interests-section h2 {
    margin-bottom: 1em;
}

.interest-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
}

.interest-item i {
    margin-right: 0.8em;
    color: #52adc8; /* or your theme color */
    font-size: 1.2em;
}